<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceDbConString" value="Data Source=\\.\pipe\MSSQL$SQLEXPRESS\sql\query;Initial Catalog=mencoder;Integrated Security=True"/>
    <add key="SourceDbName" value="PassKeeper"/>
    <add key="DbBackupFilePath" value="C:\\Program Files\\Microsoft SQL Server\\MSSQL10.SQLEXPRESS\\MSSQL\\Backup\\PasskeeperBackup.bak"/>
    <add key="TargetDbConString" value="Data Source=\\.\pipe\MSSQL$SQLEXPRESS\sql\query;Initial Catalog=mencoder;Integrated Security=True"/>
    <add key="TargetDbName" value="Passkeeper"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
